@model IEnumerable<WebApplicationGlobalSystemTeste.Models.FighterModel>
@{
    ViewData["Title"] = "Global System";
}

<div class="text-center">
    <h1 class="display-3">Resultado</h1>

    <h1 class="display-4">Oitavas</h1>


        <p>Github <a href="https://github.com/rodrigofurlaneti">Rodrigo Furlaneti</a></p>
        <p>Repository <a href="https://github.com/rodrigofurlaneti/GlobalSystemTeste">GlobalSystemTeste</a></p>

    </div>



